Repository DGrothe-PhD/punktspiel, changes with the labels that .github/labeler.yml gives for each.
All labels: deployment, design, documentation, maintenance, translation, testcase

.github/labeler.yml:

deployment:
- any: ['.github/workflows/*.yml', '!labeler.yml']
- '*.exe'
- 'android/*'

design:
- 'assets/images/*.*'
- any: ['*icon*.png', '*icon*.ico']

documentation:
- '*.md'
- 'doc/*'
- '*.pdf'

maintenance:
- '*.sln'
- '*.proj'

translation:
- 'lib/locales.dart'

testcase:
- 'test/*.*'

translate validator hints; refactoring
  lib/locales.dart
  lib/main.dart
  lib/styles.dart
Labels: translation

Update labeler.yml
  .github/workflows/labeler.yml
Labels: deployment

implement miscellaneous game
  lib/calc.dart
Labels: none

refactoring prep. to translate game names
  lib/calc.dart
  lib/main.dart
Labels: none

numberOfGamesPlayed and game denoted in table and settings
  lib/calc.dart
  lib/models/games.dart
  lib/preferences/mysharedpreferences.dart
  lib/table.dart
Labels: none

add illustrations using GraphViz yesterday
  doc/Graphviz_Game_and_rules.svg
  doc/Graphviz_Game_and_rules_dotengine.txt
Labels: documentation
